/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

#loader {
    border: 16px solid #f3f3f3; /* Borde gris */
    border-top: 16px solid #3498db; /* Borde superior azul */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* Animación de rotación */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    margin: 0;
    padding: 0;
}

/* Estilos para pantallas grandes */
img {
    width: 20%;
}

/* Estilos para pantallas pequeñas (móvil) */
@media screen and (max-width: 480px) {
    img {
        width: 50%;
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
.informacion{
    flex: 1;
    margin-left: 50px;
}

.informaciong img{
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-bottom: 0;
}

.informacion p{
    margin-top: 20px;
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: 700;
    margin: 0;
}

a {
    color: #3b98c9;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #217dbb;
}

/* Estilos de la cabecera */

header {
    background-color: #fdfdfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 10px 0;

}

header h1 {
    font-size: 36px;
    margin-top: 30px;
}

header img {
    display: block;
    margin: 5px auto;
    max-width: 50%;
    border-radius: 50%;
}

header p {
    margin-bottom: 10px;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    font-size: 20px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #3b98c9;
    padding: 12px 24px;
    margin: 0 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.buttons a:hover {
    background-color: #217dbb;
}

.a-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-buttons a {
    display: inline-block;
    font-size: 18px;
    color: #217dbb;
    background-color: white;
    padding: 12px 24px;
    margin: 0 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.buttons a:hover {
    background-color: #217dbb;
}

/* Estilos de los proyectos */
#proyectos {
	background-color: #f4f4f4;
	padding: 80px 0;
}

#proyectos h2 {
	font-size: 36px;
	margin-bottom: 60px;
}

#proyectos ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

#proyectos li {
    position: relative;
	flex-basis: calc(33.33% - 40px);
	margin: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	border-radius: 4px;
	overflow: hidden;
	transition: box-shadow 0.2s;
}

#proyectos li:hover {
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#proyectos li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:contain;
}

#proyectos li h3 {
	font-size: 24px;
	margin: 20px;
}

#proyectos li p {
	margin: 20px;
}

#proyectos li a {
	display:block;
	margin: 10px;
	padding: 12px 24px;
	background-color: #3b98c9;
	color: #fff;
	border-radius: 4px;
	transition: background-color 0.2s;
}

#proyectos li a:hover {
	background-color: #217dbb;
}

/* Estilos del formulario de contacto */
#contacto {
    background-color: #fff;
    padding: 80px 0;
    }
    
    #contacto h2 {
    font-size: 36px;
    margin-bottom: 60px;
    }
    
    #contacto form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    }
    
    #contacto form label {
    flex-basis: 100%;
    margin-bottom: 10px;
    }
    
    #contacto form input[type="text"], #contacto form input[type="email"], #contacto form textarea {
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    #contacto form textarea {
    height: 200px;
    }
    
    #contacto form input[type="submit"] {
    background-color: #3b98c9;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
    }
    
    #contacto form input[type="submit"]:hover {
    background-color: #217dbb;
    }
    
    /* Estilos del pie de página */
    footer {
    background-color: #444;
    color: #fff;
    padding: 40px 0;
    }
    
    footer p {
    margin: 0;
    text-align: center;
    }
    
    footer a {
    color: #fff;
    font-weight: 700;
    }
    
@media screen and (max-width: 768px){
    header h1 {
        font-size: 35px;
        margin-top: 20px;
    }
    
    header img {
        margin: 10px auto;
        max-width: 60%;
    }
    
    header p {
        margin-bottom: 10px;
    }
    
    nav a {
        font-size: 16px;
    }
    
    #proyectos li {
        flex-basis: calc(50% - 20px);
        margin: 10px;
    }
    
    #contacto form input[type="text"], #contacto form input[type="email"], #contacto form textarea {
        flex-basis: 100%;
    }
}